<%= render 'layouts/errors', :object => @task %>

<%= form_for [@list, @task] do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>&nbsp&nbsp
  <button class="btn btn-success" type="submit">Create Task</button>
<% end %>
